<style>
#form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
header {
    background-color: #d8d4cc;
    padding: 20px;
}
.p{
    color: #b33c3c;
}
   .slider {
        width: 3000px;
        overflow: hidden;
        margin: 80px auto;
    }
    .slides {
        width: calc(1000px * 4);
        animation: glisse 10s infinite;"C:\Users\hayfa\Desktop\pg2\background.jpg"
    }
    .slide {
        float: left;
    }
    @keyframes glisse {
      
        0% {
            transform: translate(0);
        }
        10% {
            transform: translate(-500px);
        }
        33% {
            transform: translate(-500px);
        }
        46% {
            transform: translate(-1000px);
        }
        50% {
            transform: translate(-1500px);
        }
        75% {
            transform: translate(-1900px);
        }
        100% {
            transform: translate(0);
        } 

       